<div>
    <p>
        click <a href="/client/set"> here </a> to add new name and walletAddress
    </p>
    <p>
        click <a href="/client/info/:Name"> here </a> to find a walletAddress assigned to a specific name
    </p>
    <p>
        click <a href="/client/History/:Name"> here </a> to get all the walletAddresses assigned to a name
    </p>

</div>